:root {
    --fs-1: 24px;
    --fs-2: 18px;
    --fs-3: 17px;
    --fs-4: 16px;
    --fs-5: 15px;
    --fs-6: 14px;
    --fs-7: 13px;
    --fs-8: 11px;
}


/* COLORS */

$jet: hsl(0, 0%, 22%);
$onyx: hsl(240, 1%, 17%);
$eerie-black-1: hsl(240, 2%, 13%);
$eerie-black-2: hsl(240, 2%, 12%);
$smoky-black: hsl(0, 0%, 7%);
$white-1: hsl(0, 0%, 100%);
$white-2: hsl(0, 0%, 98%);
$orange-yellow-crayola: hsl(45, 100%, 72%);
$vegas-gold: hsl(45, 54%, 58%);
$light-gray: hsl(0, 0%, 84%);
$light-gray-70: hsla(0, 0%, 84%, 0.7);
$bittersweet-shimmer: hsl(0, 43%, 51%);

/* FONTS */

$ff-poppins: "Poppins";

$fw300: 300;
$fw400: 400;
$fw500: 500;
$fw600: 600;



